*{
    box-sizing: border-box;
}
body{
    font-family: Lato,'Source Sans Pro', 'Sans Serif';
}
nav a {
    font-size: 18px;
}
main{
    margin-top: 100px;
    margin-right:auto;
    margin-left: auto;
}
.home h2{
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
}
.home p{
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
img{
    margin-top: 30px;
    width: 100%;
}
#sponser{
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
}
#sponsers img{
    width: 100%;
}
.card h5{
    font-size: 20px;
    font-weight: 400;
}
/* .mercy h5{
    transform: translateY(240px);
} */
hr{
    margin-bottom: 50px;
}
#about{
    padding: 50px;
    width: 100vw;
}
#about h3{
    font-size: 40px;
    font-weight: lighter;
}
#about p{
    font-size:17px;
    width: 348px;
}
#contact{
    padding: 50px;
    display: grid;
    grid-template-columns : repeat(2,1fr);
    
}
#contact h3{
    font-size: 40px;
}
#contact p{
    font-size: 17px;
}
.app {
    padding-top: 50px;
    padding-bottom:50px;
    display: grid;
    grid-template-columns : repeat(2,1fr);
    place-items: center;
}
.app .description{
    font-size: 24px;
    width: 600px;
    height: 126px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 112px;
}
.button a {
    font-family:'Source Sans Pro';
    font-size: 18px;
    
}
footer{
    padding: 10px;
    font-size:17px;
}